extends layout

block main
    
    // Header
    header#header
      h1 Land Below the Wind
      p
        | A PADI certified dive centre
        br
        | Saving the ocean through education
        | & marine conservation
        // Signup
        .col-xs-12.col-sm-12.col-md-12
        a(href='/signup')
          button.btn.btn-success(type='button') Sign Up
    // Footer
    footer#footer
      ul.icons
        p
          a(href='#')
            span.label Twitter
        p
          a(href='#')
            span.label Instagram
        p
          a(href='#')
            span.label Email
      ul.copyright
        p © ericsonmok.
          | Admin:
          a(href='http://localhost:5000/login') LOGIN
